<h1>Johnny five</h1>



<a href="onRed">RED LIGHT ON</a>
<a href="offRed">RED LIGHT OFF</a>
<br></br>
<a href="onGreen">GREEN LIGHT ON</a>
<a href="offGreen">GREEN LIGHT OFF</a>
<br></br>
<a href="onOrange">ORANGE LIGHT ON</a>
<a href="offOrange">ORANGE LIGHT OFF</a>
